* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.main-section {
  height: 100vh;
  width: 100%;
  background-color: white;
  display: flex;
  position: relative;
  box-sizing: border-box;
  flex-direction: column;
}

.main-section::before {
  content: '';
  position: fixed;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  background-color: #fcff56;
  top: -5%;
  left: -10%;
  opacity: 0.2;
  filter: blur(10px);
}

.main-section::after {
  content: '';
  position: fixed;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background-color: #fcff56;
  bottom: -5%;
  right: -10%;
  opacity: 0.2;
  filter: blur(10px);
}

/* .watermark {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 14px;
  margin-bottom: 80px;
}

.main-logo {
  width: 120px;
}

.main-logo img {
  width: 100%;
}

.brand {
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.brand .logo-app {
  width: 50px;
}

.brand .brand-text {
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.brand .brand-text .title {
  font-size: 24px;
  font-weight: 700;
  color: #f54e0c;
  margin: 0px;
  padding: 0px;
  z-index: 1;
}

.brand .brand-text .subtitle {
  font-size: 14px;
  opacity: 0.6;
  margin: 0px;
  padding: 0px;
  z-index: 1;
} */
